:root {
  --main-yellow: #fbe551;
  --secondary-color: #0000ff;
  --bg-gray: #999;
  --bg-white: #eee;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  font-size: 1.6rem;
  font-family: "Comic Sans MS", Arial, Helvetica, cursive;
  background-color: var(--bg-white);
  color: black;
  background: url("https://img.freepik.com/free-vector/comic-abstract-blue-background_225004-669.jpg")
    no-repeat center / cover;
  background-attachment: fixed;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  /* background: url("https://img.freepik.com/free-vector/comic-abstract-blue-background_225004-669.jpg?w=1060&t=st=1688810817~exp=1688811417~hmac=21b9e27c7762c0d7f5b8749ff54085bcd44f2a7c47abde8c84b47e11fae78888")
    no-repeat center / cover; */
  background-attachment: fixed;
  backdrop-filter: blur(10px);
  padding: 1rem 0;
  padding-left: 1.5rem;
}

header .logo {
  padding: 0.2rem;
  width: 4rem;
  margin-left: 3rem;
}

header .logo:hover {
  scale: 1.1;
}

header .logo img {
  border-radius: 50%;
  box-shadow: 4px 4px black;
  border: 4px solid var(--main-yellow);
  width: 100%;
}

header nav {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5rem;
  margin: auto 5rem auto auto;
  font-size: 1.5rem;
}

.shootLines {
  text-decoration: none;
  color: white;
  font-family: "Changa One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
}

.shootLines:hover {
  color: var(--main-yellow);
  scale: 1.1;
}

/* main */
main {
  padding: 0 0 1rem 0;
}

/* hero */
.hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("hero.jpeg") no-repeat center / cover;
  background-attachment: fixed;
}

h1 {
  font-family: "Changa One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  color: white;
  letter-spacing: 5px;
  text-shadow: 2px 3px 0 black;
  text-align: center;
  margin: 0 1rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.hero-text p {
  background: radial-gradient(
      circle,
      #ff6448 0%,
      #ff6448 25%,
      #ff7c48 25%,
      #ff7c48 50%,
      #ff9448 50%,
      #ff9448 75%,
      #ff9448 75%,
      #ff9448 100%
    )
    no-repeat center / cover;
  color: black;
  text-shadow: 1px 1px 0 white;
  box-shadow: 4px 4px black;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 10px;
  font-family: "Comic Sans MS", Arial, Helvetica, cursive;
  font-weight: bold;
  margin-top: 2rem;
  animation: unSpreadRadialGradient 0.5s ease-in-out;
}

.hero-text a {
  text-decoration: none;
}

.hero-text p:hover {
  animation: spreadRadialGradient 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes spreadRadialGradient {
  from {
    background-size: 100%;
  }
  to {
    background-size: 200%;
  }
}

@keyframes unSpreadRadialGradient {
  from {
    background-size: 200%;
  }
  to {
    background-size: 100%;
  }
}

section {
  margin: 2rem;
}

h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: wavy;
  background-color: var(--main-yellow);
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px black;
  color: black;
  margin: 1rem 0 0.5rem 0;
  width: max-content;
}

.sub {
  font-weight: bold;
  text-decoration: underline;
}

.child-img {
  display: flex;
  justify-content: center;
}
.child-img img {
  width: 50%;
}

/* speech */
.speech {
  background-color: #fff;
  border: solid 2px #000;
  border-radius: 12px;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em 1em;
  position: relative;
}

.speech:before {
  border: solid 12px transparent;
  border-left: solid 12px #000;
  border-top: solid 12px #000;
  bottom: -24px;
  content: "";
  height: 0;
  left: 11px;
  position: absolute;
  transform: skew(-15deg);
  width: 0;
}

.speech:after {
  border: solid 10px transparent;
  border-left: solid 10px #fff;
  border-top: solid 10px #fff;
  bottom: -19px;
  content: "";
  height: 0;
  left: 14px;
  position: absolute;
  transform: skew(-15deg);
  width: 0;
}

/* form */

form {
  font-family: "Comic Sans MS", cursive;
  background: url("data:image/svg+xml,%3Csvg width='500' height='500' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23f95757' fill-opacity='0.37' fill-rule='evenodd'/%3E%3C/svg%3E"),
    radial-gradient(
      circle,
      #ff6448 0%,
      #ff6448 25%,
      #ff7c48 25%,
      #ff7c48 50%,
      #ff9448 50%,
      #ff9448 75%,
      #ff9448 75%,
      #ff9448 100%
    );
  color: black;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px black;
  margin: 2rem auto;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
}

.inputbox {
  border-radius: 0.5rem;
  background-color: whitesmoke;
  font-size: 1.4rem;
  transition: all 0.5s;
}

.inputbox:hover,
.inputbox:focus {
  box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.5), inset -4px -4px 4px white;
}

input[type="submit"] {
  background-color: #4caf50;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Comic Sans Ms", Arial, Helvetica, cursive;
  color: white;
  padding: 1rem;
  margin: 0.5rem auto;
  width: auto;
  border-radius: 0.5rem;
  border: none;
  transition: all 0.5s;
}

input[type="submit"]:hover {
  background-color: #3d8f41;
  scale: 1.1;
}

/* footer */
footer {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 80 80'%3E%3Cg fill='%23ac9292' fill-opacity='0.3'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E"),
    radial-gradient(
      circle,
      #ffff00 0%,
      #ffff00 15%,
      #ffea00 16%,
      #ffea00 35%,
      #ffd300 36%,
      #ffd300 49%,
      #ffc107 50%,
      #ffc107 65%,
      #ffa500 66%,
      #ffa500 79%,
      #ff8c00 80%,
      #ff8c00 100%
    );
  color: white;
  text-shadow: 1px 1px 0 black;
  padding: 1rem;
  font-size: 1rem;
}

.footer_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.5rem;
  width: fit-content;
  border-radius: 3rem;
  padding: 1%;
  backdrop-filter: blur(10px) brightness(0.8) saturate(0.7);
}

footer h3 {
  margin-left: 0.5rem;
}

.footer_container table {
  border-collapse: collapse;
}

.footer_container table td {
  padding: 0 0.5rem;
}

/* mojo */
[data-name="mojs-shape"] {
  z-index: 100;
}
